/* Variables */
:root{
    --primary-pages-color: #FFFFFF;
    --secondary-pages-color: #F5F4FA;
    --third-pages-color:#2F303A;
    --heads-color: #212121;
    --primary-texts-color: #757575;
    --secondary-texts-color: #ffffff;
    --accent-color: #2196F3;
}


/* Common */
.body {
   background-color: var(--primary-pages-color);
   font-family: Roboto, sans-serif;
   letter-spacing: 0.03em;
   
}

/* * {
 margin: 0px;
 padding: 0px;
} */

.underline-none{
    text-decoration: none;
}

.bullet-none{
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* Header */
.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
}

.header-nav .nav-item{
    color: var(--heads-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}


.header-auth .auth-item{
    color: var(--primary-texts-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.accented-link:hover,
.accented-link:focus {
    color: var(--accent-color);
}

.header-nav .nav-item.current{
    color: var(--accent-color);
}


/* Hero section */
.hero{
    background-color: var(--third-pages-color);
    letter-spacing: 0.06em;
}

.hero .hero-caption{
    color: var(--secondary-texts-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
}

.hero-btn{
    color: var(--secondary-texts-color);
    background-color: var(--accent-color);
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;

}


/* Our principles section */
.section-caption{
    color: var(--heads-color);
    text-align: center;
    font-size: 36px;
    line-height: 1.17;

}

.principle{
    color: var(--heads-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.principles-text{
    color:  var(--primary-texts-color);
    font-size: 14px;
    line-height: 1.71;

}


/* Our team section */
.our-team-section{
    background-color: var(--secondary-pages-color);
}

.our-team-section .employee{
    line-height: 1.14;
    background-color: var(--primary-pages-color);
    width: 270px;
    height: 370px;
    text-align: center;
}

.our-team-name{
    color: var(--heads-color);
    font-size: 16px;
    font-weight: 500;
}

.our-team-profession{
    color: var(--primary-texts-color);
    font-size: 16px;
}


/* Portfolio */

/* Projects' examples */
.projects-examples .btn{
    color: var(--heads-color);
    font-family: inherit;
    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
}

.btn:hover, 
.btn:focus,
.btn:active{
    color: var(--primary-pages-color);
    background-color: var(--accent-color);
}

.project-example{
    width: 370px;
    height: 405px;
}

.project-name{
    color: var(--heads-color);
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
}

.project-type {
    color: var(--primary-texts-color);
    font-size: 16px;
    line-height: 1.88;
}



/* Footer */
.footer{
    background-color: var(--third-pages-color);
}

.footer-address{
    color: var(--primary-pages-color);
    font-style: normal; 
    line-height: 1.71;
    font-size: 14px;
}

.footer-contacts{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    font-size: 14px;
}
